/*
Theme Name: Snowball
Theme URI: http://snowball-web.com/
Description: Company theme
Author: jmorris
Author URI: http://snowball-web.com/
Version: 1.0

*/


body
	{
		margin: 0;
		font-family: "Noto Sans","Open Sans","PT Sans","Tahoma","Helvetica","Arial",sans-serif;
		font-size: 12px;
		text-align: center;
		vertical-align: top;
		background: #fff;
		color: #333;
	
	}
html {
	padding: 0;
	margin: 0;
}
p
{
	margin: 0;
	padding: 0;
}

.TOP
{
	height: 45px;
	width:100%;
	display: block;
	
}
.home-banner-img
{
	width: 100%
	height:347px;
}

.alignleft
{

	/*position:absolute;
	top: 31px;
	left: 198px;*/
	margin-left:25%;
	margin-top:4px;
	float:left;
	border: none;
	max-width: 188px;
	max-height:100%;
}

/* -----------------------------------------------
 * HOME BOXES
 -----------------------------------------------*/

.box-container 
{

	  display: flex;
	display: -webkit-flex;
	flex-wrap: wrap;
	flex-wrap: -webkit-wrap;
	  max-width: 73%;
	 min-height: 455px;
	 margin: auto;
	
}


.box-column 
{

  flex:3;
  color: #fff;
  text-align: center;
   font-family: "Noto Sans","Open Sans","PT Sans","Tahoma","Helvetica","Arial",sans-serif;
font-size: 16px;
  background: -webkit-linear-gradient(120deg, #280006, #080033); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(1220deg, #280006, #080033); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(120deg, #280006, #080033); /* For Firefox 3.6 to 15 */
  background: linear-gradient(120deg, #280006, #080033); /* Standard syntax */
   border-color: #000000;
  border-style: solid;
    border-width: 1px;
	border-radius: 4px;
	margin:15.5px;
	width:33%;
	min-width: 200px;

}
h3.column
{
	font-size: 24px;
}
.box-img
{
	margin:0 auto;
	display:block;
}
.box-button
{
	background-color:#337AB7;
	border-color: #2E6DA4;
  border-style: solid;
    border-width: 1px;
	border-radius: 4px;
	color:#fff;
	width:90px;
	height:37px;
	margin: auto;
	
}

.box-button:hover
{
	background-color:#286090;
	
}
.box-button-link
{
	text-decoration:none;
	color:#fff;
	text-align: center;
}
/* -----------------------------------------------
 * END HOME BOXES
 -----------------------------------------------*/

/* -----------------------------------------------
 * SOCIAL
 -----------------------------------------------*/
.alignright
{

	/*position:absolute;
	top: 48px;*/
	float:right;
	border: none;
	height:25px;
	 width: 100px;
	 margin-right: 25%;
	 margin-top: 9px;
	 display: flex;
	 display: -webkit-flex;
	 
}

.social-column
{ 
	width: 33%; 
	flex:1;
}

/*.social-column-container
{
	vertical-align:middle;
	 margin: auto;
	 width: 100px;
}*/
/* -----------------------------------------------
 * END SOCIAL
 -----------------------------------------------*/



/* -----------------------------------------------
 PORTFOLIO
 -----------------------------------------------*/

#portfolio-h2
{
	float:left;
	font-size: 30px;
}

#portfolio
{
	margin: auto;
	margin-top: 94px;
	width: 73.5%;
}

.office-img
{
/*min-height:381px;*/
width: 100%;
margin-top:60px;
margin-bottom: 60px;

}

#bold
{
font-weight: bold;
}

.company-info
{
width:36.5%;

margin:auto;

}
#company-p
{
	font-size:16px;
}
#company-h2
{
	font-size:30px;
}

#learn-more-button
{
	margin-top: 16px;
	float: right;
}

#learn-more-button
{
width:163px;

}

#portfolio-container 
{

	  display: flex;
	display: -webkit-flex;
	flex-wrap: wrap;
	flex-wrap: -webkit-wrap;
	  max-width: 100%;
	 /*height: 366px;*/
	 margin: auto;
	 clear:both;

}


.portfolio-column 
{

  color: #333;
  text-align: center;
   font-family: "Noto Sans","Open Sans","PT Sans","Tahoma","Helvetica","Arial",sans-serif;
font-size: 16px;
	width:25%;
	min-width:260px;
	flex:2;
	margin:16px;
	

}

.portfolio-img
{
	margin:0 auto;
	display:block;
	width:258px;
	height:145px;
}
.portfolio-button
{
	background-color:#fff;
	border-color: #ccc;
  border-style: solid;
    border-width: 1px;
	border-radius: 4px;
	color: #333;
	width:82px;
	height:37px;
	margin: auto;
	vertical-align:middle;
	text-align:center;
	
}
.portfolio-button-link
{
	text-decoration:none;
	color:#333;
	vertical-align:middle;
	text-align:center;
}
/* -----------------------------------------------
 * END PORTFOLIO
 -----------------------------------------------*/






/* -----------------------------------------------
 * FOOTER
 -----------------------------------------------*/

#footer-learn-button
{
	width: 165px;
}
.footer 
{

    margin-top: 6em;
    padding-top: 6em;
    padding-bottom: 6em;
    /*min-height 459px;*/
    font-family: "Noto Sans","Open Sans","PT Sans","Tahoma","Helvetica","Arial",sans-serif;
font-size: 16px;
color: #fff;
	/*margin-top: 30px;*/
background: -webkit-linear-gradient(120deg, #280006, #080033); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(1220deg, #280006, #080033); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(120deg, #280006, #080033); /* For Firefox 3.6 to 15 */
  background: linear-gradient(120deg, #280006, #080033); /* Standard syntax */

}

.footer-column
{ 
	
	
	text-align: center;
	min-height 459px;
	width: 33%; 
	flex:3 3 25%;
	min-width: 200px;
}
.footer-column-container
{
	display: flex;
	display: -webkit-flex;
	flex-wrap: wrap;
	flex-wrap: -webkit-wrap;
	 margin: auto;
	 width: 75%;
	 
}
.img-responsive
{
	width:100%;
}
/* -----------------------------------------------
 * END FOOTER
 -----------------------------------------------*/


/* -----------------------------------------------
 * MENU
 -----------------------------------------------*/

.site-nav
{
	background: -webkit-linear-gradient(120deg, #280006,  #080033); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(1220deg, #280006,  #080033); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(120deg, #280006,  #080033); /* For Firefox 3.6 to 15 */
	background: linear-gradient(120deg, #280006,  #080033); /* Standard syntax */
	width:100%;
}

.menu-primary-menu-container
{
	
	min-width:140px;
	min-height:51px;
	margin: 0 auto;
	
	max-width: 1500px;
}



.menu
{
	display: flex;
	display: -webkit-flex;
	flex-wrap: wrap;
	flex-wrap: -webkit-wrap;
  	min-height:51px;
  	min-width:140px;
  list-style-type: none;
 margin-bottom: 0;
}
.menu a
{
	color: #fff;
	font-size: 16px;
	font-family: "Noto Sans", "Open Sans", "PT Sans", "Tahoma", "Helvetica", "Arial", sans-serif;
	text-decoration: none;
	vertical-align:middle;
	min-width:140px;
	
	
}
/*.menu-item-has-children   a:after
{
	content: "\25BC";
}*/

.menu  li
{
	color: #fff;
	font-size: 16px;
	font-family: "Noto Sans", "Open Sans", "PT Sans", "Tahoma", "Helvetica", "Arial", sans-serif;
	vertical-align:middle;
	text-decoration: none;
	float:left;
	flex:1 1 25%;
	min-width:140px;
	height:23px;
	padding-bottom: 15px;
}

.sub-menu a
{
  
  font-size: 16px;
  font-family: "Noto Sans", "Open Sans", "PT Sans", "Tahoma", "Helvetica", "Arial", sans-serif;
}
.sub-menu {
   background-color: #080033;
   border: 1px solid #280006;
   display: flex;
   flex-wrap: wrap;
   list-style-type: none;
   margin: 0 auto;
   padding: 15px;
   position: relative;
   visibility: hidden;
   width: 250px;
   z-index: 1000;
} 
.sub-menu li
{
	flex:1 1 100% !important;;
}
.sub-menu a:hover
{
	color: #00FFFF;
}

.menu li:hover > .sub-menu 
{
  visibility: visible;
}

.menu  li
{
	flex:1 1 25%;
}

/* -----------------------------------------------
 * END MENU
 -----------------------------------------------*/


@media screen and (max-width: 768px) 
{
    
		.menu li
		{
			flex: 1 1 100%;
		}
		.alignleft 
		{
	   		margin-left: 5%;
	   		width: 141px;
		}
	.alignright 
	{
	   margin-right: 5%;
	} 
	.company-info
	{
		width:100%;
	}
    
}

	
		
